<form name="formTodo" class="app-component app-component-todo-list">
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>{{heading}}</span>
    </h2>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="item in items track by $index">
        <md-checkbox ng-model="item.done" aria-label="Checkbox 1"></md-checkbox>
        <div class="md-list-item-text">
            <span ng-if="!item.done">{{item.name}}</span>
            <s ng-if="item.done">{{item.name}}</s>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>


          <md-input-container>
            <label>Task Title</label>
            <input name="todoName" ng-model="newItem" required md-maxlength="10" minlength="4">
             <div ng-messages="formTodo.todoName.$error" ng-show="formTodo.todoName.$dirty">
                 <div ng-message="required">This is required!</div>
                 <div ng-message="md-maxlength">That's too long!</div>
                 <div ng-message="minlength">That's too short!</div>
             </div>
          </md-input-container>
        <md-button class="md-raised" ng-click="add()">Add to list</md-button>
</form>